* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Poppins;
}

html {
  scroll-behavior: smooth;
}

/* Estilização Navbar */
.navbar{
  background-color:#536E93;
}

.navbar-brand {
  border-radius: 50%;
  width: 101px;
  margin-left: 2rem;
}

.navbar-nav {
  gap: 50px;
}
/* Fim da Estilização Navbar */


/* Estilização da Main Page */
.back-img {
  background-image: url(/Assets/IMG-3-enhanced.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  min-height: 100vh;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title-benefits h1 {
  color: #fff;
  font-weight: 200;
  margin-top: 20px;
  font-size: 3rem;
}

.title-benefits p {
  margin-right: 10rem;
  text-align: right;
  color: #fff;
  font-weight: 100;
  font-size: 1.3rem;
}

.description-benefits h2 {
  color: #fff;
  font-weight: 200;
}

.description-benefits p {
  color: #fff;
  font-weight: 200;
}

.desc-cards {
  text-align: center;
  font-size: 2.2rem;
  margin-top: 20rem;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  margin-top: 5rem;
}

.card1, .card2, .card3, .card4 {
  background-color: #0f1a36;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 20px;
  margin: 20px;
  max-width: 45%;
  padding: 20px;
  transition: transform 0.3s ease-in-out;
}

.card1 p, .card2 p, .card3 p, .card4 p {
  text-align: center;
}

.card1 h2, .card2 h2, .card3 h2, .card4 h2 {
  text-align: center;
}

.card1:hover, .card2:hover, .card3:hover, .card4:hover {
  transform: scale(1.05);
}

@media screen and (max-width: 768px) {
  .cards {
    flex-direction: column;
    align-items: center;
  }
  .card1, .card2, .card3, .card4 {
    max-width: 100%;
  }
}

.hidden {
  opacity: 0; 
  transform: translateY(20px); 
  transition: opacity 0.5s ease-out, transform 0.5s ease-out; 
}

.visible {
  opacity: 1; 
  transform: translateY(0); 
}

.fade-in {
  opacity: 0; 
  transition: opacity 1s ease-in-out, transform 1s ease-in-out; 
  transform: translateY(20px); 
}

.fade-in.visible {
  opacity: 1; 
  transform: translateY(0); 
}

.card1, .card2, .card3, .card4 {
  transition: transform 0.3s ease-in-out;
}

.card1:hover, .card2:hover, .card3:hover, .card4:hover {
  transform: scale(1.05);
}


/* Fim estilização da Main Page */






 /* Estilização Footer */

 .rodape {
  background: url(/Assets/IMG-8.png) no-repeat center center;
  background-size: cover;
  width: 100%;
  position: relative;
  padding: 20px 0; /* Reduz o espaçamento vertical do rodapé */
}

.infos-general {
  display: flex;
  justify-content: space-around;
  align-items: center; /* Alinha os elementos verticalmente ao centro */
}

.Contact, .email, .Location {
  margin-top: 0; /* Remove o espaçamento vertical adicional */
}

.email {
  display: flex;
  flex-direction: column;
}

.Contact h5 {
  color: #fff;
  font-weight: 200;
  font-size: 1.5rem; /* Reduz o tamanho da fonte para diminuir a altura */
}

.Contact p, .email-project, .Location p {
  color: #fff;
  font-weight: 300;
  font-size: 1.2rem; /* Reduz o tamanho da fonte */
  margin: 0.5rem 0; /* Diminui o espaçamento vertical */
  text-align: center;
  max-width: 400px;
}

.Logo-profile {
  width: 100px; 
  border-radius: 50%;
  margin: auto;
}

.rect-2, .rect-3 {
  width: 4px;
  height: 150px; /* Diminui a altura dos separadores */
  background-color: #536E93;
  border-radius: 40px;
}

@media screen and (max-width: 1135px) {
  .infos-general {
    flex-direction: column;
    align-items: center;
  }

  .Contact > p, .email > p, .Location > p {
    width: 100%;
    margin: 5px 0;
    text-align: center;
  }

  .Contact h5, .Contact p, .email-project, .Location p {
    font-size: 1rem;
    text-align: center;
  }

  .rect-2, .rect-3 {
    width: 100%;
    height: 4px; /* Ajusta altura para dispositivos menores */
    margin: 10px 0;
  }
}
/* Fim da Estilização Footer */