* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Poppins;
  
}

/* Estilização Navbar */
.navbar{
  background-color:#536E93;
}

.navbar-brand {
  border-radius: 50%;
  width: 101px;
  margin-left: 2rem;
}

.navbar-nav {
  gap: 50px;
}
/* Fim da Estilização Navbar */
















/* Estilização Footer */

.rodape {
  background: url(/Assets/IMG-8.png) no-repeat center center;
  background-size: cover;
  width: 100%;
  position: relative;
  height: 100%; /* Verifique se essa altura é suficiente */
}

.infos-general {
  display: flex;
  justify-content: space-around;
  height: 100%; /* Garante que os itens ocupem toda a altura do rodapé */
}

.Contact {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 10vh;
  margin-left: 2rem;
}

.Contact h5 {
  color: #fff;
  font-weight: 200;
  font-size: 2rem;
}

.Contact p {
  color: #fff;
  font-weight: 500;
  font-size: 1.5rem;
}

.email {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centraliza o conteúdo */
}

.Logo-profile {
  border-radius: 50%;
  width: 200px;
  margin: auto;
  margin-top: 3rem;
}

.email-project {
  color: #fff;
  font-weight: 500;
  font-size: 1.5rem;
  margin-top: 10px !important;
  text-align: center;
}

.Location {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  max-width: 400px;
}

.Location p {
  color: #fff;
  font-size: 1.5rem;
  font-weight: 200;
  margin-left: 2rem;
  margin-top: 1rem;
}

.rect-2{
  border-radius: 40px;
  margin-top: 2rem;
  width: 6px;
  height: 270px;
  background-color: #536E93;
}

.rect-3{
  border-radius: 40px;
  margin-top: 2rem;
  width: 6px;
  height: 270px;
  background-color: #536E93;
}

@media screen and (max-width: 1155px) {
  .infos-general {
    display: flex;
    flex-direction: column; 
    align-items: center; 
  }

  .Contact, .email, .Location {
    width: 100%; 
    margin: 0; 
    text-align: center; 
    margin-top: 10px;
  }

  .Logo-profile {
    width: 80px; 
    margin-top: 10px; 
  }

  .Contact h5, .Contact p, .email-project, .Location p {
    font-size: 1.2rem; 
    margin: 0.5rem 0; 
  }

  .rect-2{
    margin-bottom: 30px;
    height: 5px;
    width: 100%;
  }

  .rect-3{
    margin-bottom: 30px;
    height: 5px;
    width: 100%;
  }
}
/* Fim da Estilização Footer */
